@use 'variables';
@use 'sass:map';
@use 'parrilla';

.f1-ranking-main {
    background-color: variables.$color-dark-bg;
    padding: 40px 0;
    min-height: calc(100vh - 100px);
}

.f1-ranking-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}


.f1-ranking-main .f1-page-title {
    font-family: 'Arial Black', sans-serif;
    font-size: 2.8rem;
    color: variables.$color-f1-red;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 5px solid variables.$color-f1-red;
}

.f1-ranking-main .f1-section h2 {
    font-size: 1.8rem;
    color: variables.$color-text-light;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-left: 10px;
    border-left: 4px solid variables.$color-text-light;
}


.f1-ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    background-color: variables.$color-darkest-bg;
    overflow: hidden;
    color: variables.$color-text-light;
}

.f1-ranking-table thead {
    background-color: variables.$color-border-dark;
    font-size: 1rem;
    text-transform: uppercase;
}

.f1-ranking-table th {
    padding: 15px 10px;
    text-align: left;
    font-weight: 700;
}

.f1-ranking-table th.pos {
    width: 60px;
    text-align: center;
}

.f1-ranking-table th.points-header {
    text-align: center;
    width: 100px;
    background-color: variables.$color-f1-orange;
    color: #000;
}

.f1-ranking-table tbody tr {
    border-bottom: 1px solid variables.$color-border-dark;
}

.f1-ranking-table tbody tr:hover {
    background-color: variables.$color-dark-bg;
}

.f1-ranking-table td {
    padding: 12px 10px;
    font-size: 0.95rem;
    color: variables.$color-text-medium;
    font-weight: 500;
}


.f1-ranking-table .pos-col {
    text-align: center;
    font-weight: 700;
    color: variables.$color-text-light;
}


.f1-ranking-table .ranking-points {
    font-weight: 900;
    text-align: center;
    width: 100px;
    background-color: #2b2b2b;
    color: variables.$color-text-light;
    font-size: 1.1rem;
}

.f1-ranking-table .points-leader {
    color: variables.$color-f1-yellow;
}


.f1-ranking-table .color-bar {
    width: 5px;
    padding: 0;
}


@mixin team-color-bar($team-key, $color) {
    .team-#{$team-key} .color-bar {
        background-color: $color;
    }
}

@include team-color-bar(mclaren, #ff8700);
@include team-color-bar(redbull, #0000a0);
@include team-color-bar(mercedes, #00d2be);
@include team-color-bar(ferrari, #e10600);
@include team-color-bar(williams, #005a96);
@include team-color-bar(vcarb, #00f0ff);
@include team-color-bar(astonmartin, #00665e);
@include team-color-bar(haas, #ffffff);

.team-sauber .color-bar {
    background-color: #52e252;
}

@include team-color-bar(alpine, #0076b6);


@media (max-width: 600px) {
    .f1-ranking-container {
        padding: 0 10px;
    }

    .f1-ranking-main .f1-page-title {
        font-size: 2rem;
    }

    .f1-ranking-main .f1-section h2 {
        font-size: 1.4rem;
    }

    .f1-ranking-table th,
    .f1-ranking-table td {
        padding: 8px 5px;
        font-size: 0.85rem;
    }

    .f1-ranking-table .ranking-points {
        width: 70px;
        font-size: 1rem;
    }
}