@use 'variables';
@use 'sass:map';
@use 'header';
@use 'home';
@use 'footer';
@use 'parrilla';
@use 'clasificacion';
@use 'eventos';
@use 'tienda';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$color-dark-bg;
    color: variables.$color-text-medium;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}



.f1-page-title {
    font-size: 2.8rem;
    color: variables.$color-f1-red;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 5px solid variables.$color-f1-red;
}

.f1-section h2 {
    font-size: 1.8rem;
    color: variables.$color-text-light;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-left: 10px;
    border-left: 4px solid variables.$color-text-light;
}